<div class="container">
    <div class="leftContainer">
        <img class="logo" src="../../../../assets/logo.svg" alt="logo">
        
        <div class="assigned" >
            <img src="../../../../assets/projects.svg" alt="">
            <h3 routerLink="/user/projects">Assigned</h3>
        </div>
        <div class="complete" >
            <img src="../../../../assets/complete.svg" alt="">
            <h3>Complete</h3>
        </div>
        <div class="calendar" >
            <img src="../../../../assets/calendar.svg" alt="">
            <h3>Calendar</h3>
        </div>
        
    </div>
    <div class="rightContainer">
        <router-outlet></router-outlet>
       
           <!-- display assigned projects here -->
           <!-- <app-display-assigned-projects></app-display-assigned-projects> -->
       
    </div>

</div>
