<div>
    <div *ngIf="myProjects.length;else noProjects">
        <div *ngFor="let proj of myProjects,let i=index" class="aProject">
            <p>{{proj.project_name}}</p>
            <p>{{proj.project_description}}</p>
            <p>{{proj.due_date}}</p> 
            <button class="completeBtn" *ngIf="!isComplete" (click)="completeProject(proj.project_id)">COMPLETE</button>
            <button class="completeBtn" *ngIf="isComplete" >DONE</button>

        </div>
    </div>
   
</div>
<ng-template #noProjects>
    <p>No projects assigned!!</p>
</ng-template>
