<div class="container">
    <div class="leftContainer">
        <p class="mainHeading">ACHIEVING GREAT <br> THINGS TOGETHER
        </p>
        <p class="desc">
            The development of each task and the overall <br> 
            strategy will be visible to you.Never has <br>
            projects been more fun!
        </p>
        <button class="getStartedBtn" routerLink="/auth/login">GET STARTED</button>
    </div>
    <div class="rightContainer">
        <img src="../../../../../assets/hero.svg" alt="">
    </div>

</div>
